/* Steven Parra */

*
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: Calibri, helvetica, sans-serif;
    text-align: center;
    background-color: black;
    /*Be sure to upload img in GoDaddy to ensure it shows up! */
    background-image: url(http://www.wallmu.com/wallpaperstock/cool-computer-backgrounds-hd.jpg);
}

#container 
{
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    border: solid 3px #179292;
    background-color: #69CCCC;
}

h1
{
    margin: 10px auto;
}

form input
{
    font-family: inherit;
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 300px;
    text-align: center;
    border: solid 1px #179292;
    background-color: aquamarine;
}

form input[type="submit"] 
{
    cursor: pointer;
    width: 120px;
}

#helpful-links 
{
    font-size: .6em;
}

a 
{
    text-decoration: none;
}
