/* Steven Parra */


*
{
    margin: 0;
    padding: 0;
}

body 
{
    text-align: center;
}

#container 
{
    margin: 20px auto;
    padding: 20px;
    width: 500px;
}

h1
{
    margin: 10px auto;
}

form fieldset
{
    margin: 0 auto;
    padding: 20px 10px;
}

form label, form input 
{
    display: block;
    margin: 0 auto;
}

form label
{
    margin-bottom: 5px;
}

form input
{
    height: 24px;
    margin-bottom: 15px;
    text-align: center;
}

form input[type="submit"] 
{
    cursor: pointer;
    width: 120px;
}

#helpful-links 
{
    font-size: .5em;
}

a 
{
    text-decoration: none;
}
